---
import type { HTMLAttributes } from 'astro/types';
import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'div'>;

const { class: className, ...rest } = Astro.props;

export const skeleton = tv({
	base: 'animate-pulse rounded-md bg-muted',
});
---

<div class={skeleton({ class: className })} data-slot="skeleton" {...rest}></div>
