---
import type { HTMLAttributes } from 'astro/types';
import type { VariantProps } from 'tailwind-variants';

import { buttonVariants } from '@/components/ui/button';

type Props = HTMLAttributes<'a'> &
	Omit<VariantProps<typeof buttonVariants>, 'variant'> & {
		isActive?: boolean;
	};

export const paginationLink = buttonVariants;

const { class: className, isActive, size = 'icon', ...rest } = Astro.props;
---

<a
	aria-current={isActive ? 'page' : undefined}
	class={buttonVariants({
		variant: isActive ? 'outline' : 'ghost',
		size,
		class: className,
	})}
	data-slot="pagination-link"
	{...rest}
>
	<slot />
</a>
