/* Vendors */
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';

/* tailwind */
@import './tailwind.css';

/* utilities */
@import './utilities.css';
@import './typography.css';

/* Global styles */

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
	transition: opacity 0.25s;
	opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
	opacity: 0;
}
