/* Note on @utility coloring syntax https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1146#issuecomment-2637758061 */
/* Fix issue of tailwind container injecting max-w */
@utility container {
	@apply mx-auto w-full px-unit-md;
	@apply max-w-none;
}

/* Force zero border radius */
@layer utilities {
	[class*='rounded'],
	.rounded,
	.rounded-xs,
	.rounded-sm,
	.rounded-md,
	.rounded-lg,
	.rounded-xl,
	.rounded-2xl,
	.rounded-3xl {
		border-radius: 0 !important;
	}
}
