---
import type { HTMLAttributes } from 'astro/types';
import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'div'> & {
	overflow?: boolean;
};

const { class: className = '', overflow = false, ...rest } = Astro.props;

const carouselContent = tv({
	base: `overflow-${overflow ? 'visible' : 'hidden'}`,
});

const carouselContainer = tv({
	base: [
		'flex group-data-[axis=y]/carousel:flex-col',
		'group-data-[axis=x]/carousel:-ml-4',
		'group-data-[axis=y]/carousel:-mt-4',
	],
});
---

<div class={carouselContent()} data-slot="carousel-content" {...rest}>
	<div class={carouselContainer({ class: className })} data-slot="carousel-container">
		<slot />
	</div>
</div>
