---
import { Icon } from '@/components';
---

<div class="container grid grid-cols-2 py-fluid-md">
	<div>
		<Icon name="logo" />
	</div>
	<nav class="flex gap-gutter justify-self-end">
		<a href="/">Index</a>
		<a href="/about">About</a>
		<a href="/post">The post</a>
	</nav>
</div>
