---

---

<footer class="container flex justify-between py-fluid-xs">
	<div>
		&copy;{new Date().getFullYear()}
	</div>

	<nav class="flex gap-gutter">
		<a href="/">Index</a>
		<a href="/about">About</a>
	</nav>
</footer>
