---
import { Clarity, GoogleTagmanager, Posthog } from '@components/analytics';
import { getSeo } from '@lib/utils/seo';
import '@styles/main.css';
import { Head } from 'astro-capo';
import { SEO } from 'astro-seo';
import { type CssVariable, Font } from 'astro:assets';
import Icon from '../components/Icon/Icon.astro';

interface Props {
	title?: string;
	seo?: Partial<Seo>;
}

const { title, seo = {} } = Astro.props;

// Merge title prop into seo object if provided
const seoInput = title ? { ...seo, title: seo.title || title } : seo;
const seoData = getSeo(seoInput, Astro.url);

// Constants
const FONTS: CssVariable[] = ['--custom-font-sans'];
---

<!doctype html>
<html lang="en">
	<Head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<SEO {...seoData} />

		{FONTS.map((font) => <Font cssVariable={font} preload />)}

		<!-- Analytics -->
		<GoogleTagmanager />
		<Clarity />
		<Posthog />
	</Head>
	<body>
		<script src="../lib/app.ts"></script>

		<div class="container grid grid-cols-2 py-fluid-md">
			<div>
				<Icon name="logo" />
			</div>
			<nav class="flex gap-gutter justify-self-end">
				<a href="/">Index</a>
				<a href="/about">About</a>
				<a href="/post">The post</a>
			</nav>
		</div>

		<main id="swup" class="transition-fade">
			<div id="content">
				<slot />
			</div>
		</main>

		<footer class="container flex justify-between py-fluid-xs">
			<div>
				&copy;{new Date().getFullYear()}
			</div>

			<nav class="flex gap-gutter">
				<a href="/">Index</a>
				<a href="/about">About</a>
			</nav>
		</footer>

		<script>
			import { $screenDebounce } from '@lib/stores/screen';
			import { setViewportSize } from '@lib/utils/setViewportSize';

			// Set viewport size
			$screenDebounce.subscribe(() => {
				setViewportSize();
			});
		</script>
	</body>
</html>
