---
import {
	Clarity,
	GoogleTagmanager,
	GoogleTagmanagerNoscript,
	Posthog,
} from '@components/analytics';
import { CookieConsent, Footer, Header } from '@components/layout';
import { getSeo } from '@lib/seo';
import { ThemeProvider } from '@lpdsgn/astro-themes/components';
import '@styles/main.css';
import SpeedInsights from '@vercel/speed-insights/astro';
import { Head } from 'astro-capo';
import { SEO } from 'astro-seo';
import { type CssVariable, Font } from 'astro:assets';

// Calcola fallback per il titolo dal pathname se non fornito
const pathName = Astro.url.pathname.split('/').pop() ?? '';
const fallbackTitle = pathName.charAt(0).toUpperCase() + pathName.slice(1).toLowerCase();

const {
	seo = {},
	class: className,
	noise = false,
	header = true,
	footer = true,
	cookieBanner = true,
	fullscreen = false,
}: {
	seo?: Partial<Seo>;
	class?: string;
	noise?: boolean;
	header?: boolean;
	footer?: boolean;
	cookieBanner?: boolean;
	fullscreen?: boolean;
} = Astro.props;

// Merge title prop into seo object if provided
const seoInput = { ...seo, title: seo.title || fallbackTitle };
const seoData = getSeo(seoInput, Astro.url);

// Constants
const FONTS: CssVariable[] = ['--font-sans', '--font-mono'];
---

<!doctype html>
<html lang="en">
	<Head>
		<style is:inline>
			@layer theme, base, components, utilities;
		</style>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="generator" content={Astro.generator} />
		<ThemeProvider />

		<SEO {...seoData} />

		{FONTS.map((font) => <Font cssVariable={font} preload />)}

		<!-- Analytics -->
		<GoogleTagmanager />
		<Clarity />
		<Posthog />
	</Head>
	<body class:list={[noise && 'noise', className]}>
		<GoogleTagmanagerNoscript />

		<script src="../lib/app.ts"></script>

		{header ? <Header /> : <slot name="header" />}

		<main id="swup" class:list={['transition-fade', fullscreen && 'h-screen']}>
			<div id="content" class:list={[fullscreen && 'h-screen']}>
				<slot />
			</div>
		</main>

		{footer ? <Footer class="transition-fade" /> : <slot name="footer" />}

		{cookieBanner ? <CookieConsent /> : null}

		<script>
			import { $screenDebounce } from '@lib/stores/screen';
			import { setViewportSize } from '@lib/utils/setViewportSize';

			// Set viewport size
			$screenDebounce.subscribe(() => {
				setViewportSize();
			});
		</script>

		<SpeedInsights />
	</body>
</html>
